<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:fragment="navi">
      <!-- 네비게이션바 -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">도서관</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/book/bookList">도서목록</a>
              <a class="nav-link" href="/member/memberList">회원목록</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
      <hr />
    </div>

    <div th:fragment="footer">
      <hr />
      2024.08
      <script src="/js/book/list.js"></script>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    </div>

    <div th:fragment="pagenation">
      <!-- 페이지네이션 -->
      <th:block th:if="${map!=null}">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <th:block th:if="${map.pageDto.prev}">
              <li class="page-item disabled">
                <a
                  class="page-link"
                  th:onclick="go([[${map.pageDto.startPage-1}]])"
                  >◀</a
                >
              </li>
            </th:block>

            <!-- #numbers.sequence() : 숫자배열을 만들어주는 함수
       생성된 숫자 배열로 부터 하나씩 꺼내서 변수에 저장 하고 반복  -->
            <th:block
              th:each="index:${#numbers.sequence(map.pageDto.startPage,map.pageDto.endPage)}"
            >
              <li class="page-item">
                <a
                  class="page-link"
                  th:text="${index}"
                  th:onclick="go([[${index}]])"
                ></a>
              </li>
            </th:block>

            <th:block th:if="${map.pageDto.next}">
              <li class="page-item">
                <a
                  class="page-link"
                  th:onclick="go([[${map.pageDto.startPage+1}]])"
                  >▶</a
                >
              </li>
            </th:block>
          </ul>
        </nav>
      </th:block>

      <th:block th:unless="${map!=null}">
        map is null

        
      </th:block>
    </div>
  </body>
</html>
